Package: com.ps.cyarchfix
Name: cyarchfix
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hide iphoneos-arm64 packages from Cydia.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 6.0)
